canvas{
    padding: 0;
    margin: auto;
    display: block;
};
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 0;
    margin: auto;
    display: block;
};
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 0;
    margin: auto;
    display: block;
};
