canvas{
    padding: 10px;
    margin: auto;
    display: block;
}
h1{
    text-align: center;
    display: block;
    font-family: 'Helvetica', Times, serif;
    font-style: italic;
    font-size: 40px;
    color:rgb(41, 34, 30);
}
h2{
    font-family: 'Helvetica', Times, serif;
    font-style: italic;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 20px;
    color:rgb(41, 34, 30);
}
html{
    background-color: rgb(231, 219, 216);
    background-image: url("gdd4.gif");
    background-repeat: no-repeat;
    background-size: 700px;
    background-attachment: fixed;
    background-position: center 80px;
}